$MenuBackgroundColor: rgba(45, 76, 133, 1);
$MenuColor:#d5d7e2;
$TextColor:#fefbd8;

$BackGroundColor:rgb(0, 2, 5);
$ShadowColor:rgba(45, 76, 133, 0.9);
$WelcomeCardWidth:50vw;
$WelcomeCardHeight:2.6vw;
$FontSizeBody:1.5vw;
$FontSizeNormal:2vw;
$FontSizeLarge:2.2vw;
$NavHeight:calc(#{$FontSizeBody} *3 );

@mixin BurgerClose {
    position:absolute;
    height:calc(#{$NavHeight} *0.6);
    width:calc(#{$NavHeight}*0.6);
    top:calc(#{$NavHeight}*0.6/3);
    right:calc(#{$NavHeight}*0.6/3);
    color:$MenuColor;
    background-color:$MenuBackgroundColor;
}